body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(110deg, #fc804a 40%, #e8eae6 30%);
  font-family: 'Cabin Sketch', cursive;
 }

.block {
   
    height: 170px;

}
.item1 {
  margin-top: 190px; 
  color: white;
}

.dark1 {
  font-size: 14px; 
  color: #fc804a;
  border-radius: 12px;
}
label {
  font-size: 16px; 
  color: white;
}
.block1 {
    color: white;
    height: 350px;
    font-family: 'Cabin Sketch', cursive;
}

.block2 {
    color: white;
    font-size: 15px;
    font-family: 'Cabin Sketch', cursive;
    text-align: right;
}
.block3 {
   
    height: 170px;
    text-align: right;

}
.block4 {

    height: 330px;
    font-family: 'Cabin Sketch', cursive;


}
.block5 {
   text-align: left;

}


.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 90%;
  height: 40px;
  margin-bottom: 30px;
}

.icon {
  padding: 10px;
  font-size: 20px;
  background: #282828;
  color: white;
  min-width: 50px;
  text-align: center;
}

.icon1 {

  font-size: 20px;
  background:  #fc804a;
  color: black;
  min-width: 30px;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 16px;
  background: #282828;
  color:white;
}


ul {
  list-style: none;
}
ul li {
  text-align: left;
  display: inline-block;
  cursor: pointer;
  color: whitesmoke;
  padding: 10px;
  font-size: 20px;
  
}

.btn, p {
font-family: 'Cabin Sketch', cursive;
}

.btn1 {
  background: #fc804a;
  color: black;
  font-size: 14px; 
  border-radius: 12px;

}
.grid-container {
  display: grid;
  grid-column-gap:  30px;
  grid-template-columns: 200px 300px auto;
  background-color: #303030;
  padding: 10px;
  width: 1100px;
  height: 630px;
  margin-top: 70px;
  margin-left: 250px;
  margin-right: 100px;
  border-radius: 15px;
  border: 3px solid rgba(0, 0, 0, 0.8);
  
  
}
.grid-item {
  
  padding: 20px;
  font-size: 30px;
  
    /*border: 1px solid rgba(255, 255, 255, 255);*/
}
