.Available {
    background-color: aquamarine;
    width: fit-content;
    margin: auto;
    padding: "1.6rem 1rem";
    border-radius: 3px;
}
.Booked {
    background-color: red;
    width: fit-content;
    margin: auto;
    padding: "1.6rem 1rem";
    border-radius: 3px;
}
