/* My Body Styling */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background:#25232c;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    font-family: sans-serif;
}
.container{
    width: 100%;
    margin: auto;
    padding: 20px;
    height: 760px;
}

.register ,.login{width: 50%}

/*My Register Page Styling*/
.register{
    float:left;
    background-color: white;
    height: 100%;
    border-radius: 10px 0 0 10px;
    text-align: center;
    padding-top: 100px;
}
.register h1{
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #bf3d04;
}

input[type="email"] , input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: none;
    background-color: #eeeeef;
    outline: none;
}

.register span{
    float: left
}
.register a{
    float: right;
    text-decoration: none;
    color: #000;
    transition: 0.3s all ease-in-out;
}
.register a:hover{color: #9526a9;font-weight: bold}

.register button{
    width: 100%;
    margin: 30px 0;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(135deg, #faa078 , #bf3d04 );
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.register hr{
    width: 30%;
    display: inline-block;
    margin: 0px 5px 5px;

}

.register p{
    display: inline-block;
    margin: 10px 20px 20px;
}
.register ul{
    list-style: none;
    margin-bottom:30px;  
}
.register ul li{
    display: inline-block;
    margin-right: 30px;
    size: 10px;
    cursor: pointer;
    color: #bf3d04;
}
.register .copyright{
    display: inline-block;
    float: none;
}
/*Login Sector Styling*/
.login{
    float: right;
    background-image: linear-gradient(90deg, #faa078 , #bf3d04 );
    height: 100%;
    color:#fff;
    border-radius:  0 10px 10px  0;
    text-align: center;
    padding: 100px 0;
}
.login h2{
    margin: 30px 0;
    font-size: 50px;
    letter-spacing: 3px
}
.login p{
    font-size: 18px;
    margin-bottom: 30px;
}
.login button{
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    transition:0.2s all  ease-in-out;
}
.login button:hover{
    color: #bf3d04;
    background-color: #fff;
    cursor: pointer;
}