.Available {
    background-color: aquamarine;
    width: fit-content;
    padding: 0 5px;
    border-radius: 3px;
}
.Booked {
    background-color: red;
    width: fit-content;
    padding: 0 5px;
    border-radius: 3px;
}