.main {
  display: grid;
  grid-template-columns: 20rem auto 20rem;
}
.content {
  grid-column-start: 2;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #24232c;
  height: 100vh;
  width: 300px;
}
.calendar-form-div{
  margin:10px;
  padding: 10px;
}
.calendar-div{

}
.calendar{
  border-radius: 10px;
}