.main {
  /* display: grid; */
  /* grid-template-columns: 20rem auto; */
  height: 100%;
  position: relative;
}
.content {
  /* grid-column-start: 2; */
  overflow-x: hidden;
  /* padding-top: 20px; */
  background-color: #24232c;
  /* height: 100vh; */
  /* width: 300px; */
}
.calendar{
  /* grid-column-start: -2; */
  overflow: hidden;
  /* height: 100%; */
  /* width: 500px; */
  /* z-index: 1; */
}
.column{
  float: left;
  padding: 10Px;
  margin: 10px 0 10px 0;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: solid yellow;
  
}
.column.sidebar{
  width: 20%;
  height: 100%;
}
.column.content{
  width: 30%;
  height: 100%;
}
.column.calendar{
  width: 50%;
  height: 100%;
}
.row::after{
  content: '';
  display: table;
  clear: both;
}