.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  background-color: #1a1820;
  overflow-x: hidden;
  border-radius: 15px;
}

.sidebar-ul {
  margin-top: 70px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.scheduleIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.navLink {
  text-decoration: none;
  color: #b6b9b2;
  font-size: 1.2rem;
  padding: 10px 25px 10px 25px;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  list-style: none;
}
.navLink:hover {
  background-color: #ed814a;
  background-color: #ed814a;
  color: #1a1820;
  font-weight: 600;
  border-radius: 10px;
}

.active-nav-link {
  background-color: #ed814a;
  color: #1a1820;
  font-weight: 600;
  border-radius: 10px;
}

.logout-btn {
  margin-top: 250px;
  background-color: #b6b9b2;
  padding: 10px 25px 10px 25px;
  color: #1a1820;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
}

.list-icons {
  padding-right: 11px;
}
